---
layout: page
title: UNI classes
permalink: /uni_classes/
now: Spring 2024
---
<h1> BSc in Computer Science @ University of Bristol </h1>
<h3> With Second Class Honours (First Division)</h2>

{% for cat in site.data.classes %}
<section>
  {% include anchor-heading title=cat.category %}
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Term</th>
        <th>Credits</th>
        <th>Mark</th>
      </tr>
    </thead>
    <tbody>
      {% for cl in cat.classes %}
        <tr>
          <td class="course">
            {{ cl.number }}
            {% if cl.old_number %}
              <sub>
                [{{ cl.old_number }}]
              </sub>
            {% endif %}
          </td>
          <td>{{ cl.name }}</td>
          <td class="course">
            {% if cl.semester == "ASE" %}
              <span data-tooltip="Advanced Standing Exam">ASE</span>
            {% elsif cl.semester == page.now %}
              <em>{{ cl.semester }}</em>
            {% else %}
              {{ cl.semester }}
            {% endif %}
          </td>
          <td>{{ cl.credits }}</td>
          <td>{{ cl.grade }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endfor %}
