---
layout: page
title: UNI classes
permalink: /uni_classes/
now: Spring 2024
---
<h1> BSc in Computer Science @ University of Bristol </h1>
<h3> With 2.1 - <em>Second Class Honours (First Division)</em></h2>

{% for cat in site.data.classes %}
<section>
  {% include anchor-heading title=cat.category %}
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Term</th>
        <th>Credits</th>
        <th>Mark</th>
      </tr>
    </thead>
    <tbody>
      {% for cl in cat.classes %}
        <tr>
          <td class="course">
            {{ cl.number }}
            {% if cl.old_number %}
              <sub>
                [{{ cl.old_number }}]
              </sub>
            {% endif %}
          </td>
          <td class="course">
            {% if cl.number == "COMS30500" %}
              Individual project <a href="/thesis/">BSc thesis</a>
            {% else %}
              {{ cl.name }}
            {% endif %}
          </td>
          <td>            
            {{ cl.semester }}
          </td>
          <td>{{ cl.credits }}</td>
          <td>{{ cl.grade }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endfor %}
