---
---
<section>
  <hgroup>
    {% include anchor-heading anchor=page.title title=page.full_title %}
    <h3>
      {% for a in page.authors %}
        {% if a == "Christian T Crustev" -%}
          <strong>{{ a }}</strong>
        {%- else -%}
          {{ a }}
        {%- endif -%}
        {%- unless forloop.last -%}
          ,
        {% endunless %}
      {% endfor %}
    </h3>
  </hgroup>

  {{ content }}

  <!-- <footer>
    {% include links links=page.links -%}

    {% if page.equal_contribution %}
      <small style="float: right;">
        *Equal contribution
      </small>
    {% endif %}
  </footer>
  <hr/>
</section> -->
